@page "/"
@using System.IO

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<!--
<InputFile OnChange="@SingleUpload" />


<SurveyPrompt Title="How is Blazor working for you?" />
-->
@code {

    /*private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();
        //do something with bytes
    }*/
}